h1, h2, h3, h4, h5, h6 {
    font-size: 20px;
}
html, body{
    font-family: 'Lato', sans-serif;
}
.test {
    width: 20px;
    height: 500px;
    background: orangered;
}

.site-footer {
    margin-top: 200px;
    background: #182740;
    color: #fff;
}

.site-footer a {
    color: #fff;
}

input[type="text"].my-input {
    background: #fff;
    padding: 0 5px;
    border-bottom: none;
    color: #222;
    box-sizing: border-box;
}
input[type="text"].my-input:focus {
    border-bottom: none;
    box-shadow: none;
}

.go {
    background: orange;
    font-weight: bold;
    border: none;
    position: absolute;
    right: 3px;
    top: 5px;
    padding: 6px;
}

div.input {
    position: relative;
}
.my-ads {
    position: relative;
    top: -10rem;
    /*bottom: -10rem;*/
    width: 23rem;
    min-height: 220px;
    background: #0D3F96;
}
.zilla {
    position: relative;
    top: -100px;
    height: 190px;
    background: url(../images/coinzilla-join-us.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.main-art h2 {
    margin-bottom: 5px;
}

.main-art p {
    margin: 3px 0;
}

.utp {
    background-color: #182740;
    padding: 40px 0;
}
.hello-zilla {
    background-image: url(../images/coinzilla-hello.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 10% 50%;
}

.my-utp {
    padding: 30px 0;
    color: lightgrey;
}

.mb100{
    margin-bottom:-100px;
}


header {
    background-color: #182740;
    padding: 10px 0;
    color: #fff;
}

.logo {
    width: 115px;
}

.main-nav li {
    float: left;
    padding-left: 0;
    padding-right: 30px;
    margin: 2% auto;
    text-transform: uppercase;
    font-size: 12px;

}

.main-nav li:hover{
   color: #F7931A;
}
.right,.right button{
    text-transform: uppercase;
}
.main-nav {
    margin: 0;
}
.right{
    width: 25%;
}

.header-right button {
    border: 1px solid #F7931A;
    padding: 20px 15px;
    line-height: 0;
    background-color: #182740;
    margin-left: 3%;
}
.main-nav li:hover, 
.header-right button:hover, 
.header-right span:hover, 
.hello-zilla span {
   color: #F7931A;
}
.main-nav ul{
    margin: 1% 0;
}
.hello-zilla h2, .my-utp {
    font-size: 30px;
}
.hello-zilla button{
    background-color: #F7931A;
    padding: 1.5% 5%;
    border: none;
    text-transform: uppercase;
    font-size: 24px;
}
#signIn{
    cursor: pointer;
}
.hello-zilla .s-text{
    font-size: 11px;

}
.hello-zilla .s-text a{
   color: #FFF; 
}

.bl-color{
    background: #0D3F96;
}
.my-utp:hover, .byAdds:hover{
    color: white;
    transition-duration: 1s;
}
.mt10{
    margin-top: 10px;
}
.mt50{
    margin-top: 50px;
}
i {
    margin-right: 10px;
}

.triangle-r::after, .triangle-l::before{
    content: '';
    display: block;
    position: absolute;
    top: 9rem;
    border: 20px solid transparent;
}
.triangle-r::after{
   right: -2.6rem;
   border-left: 20px solid #0D3F96;
}
.triangle-l::before{
   right: 23rem;
   border-right: 20px solid #0D3F96;
}
.my-ads h3{
    padding: 20px 20px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;

}
.byAdds{
    background-color: #F7931A;
    padding: 2.5% 26%;
    margin-left: 10%;
    border: none;
    color: #000;
    text-transform: uppercase;
    font-size: 24px;

}

.footer-items{
    padding-bottom: 5rem;
}

/*Media***************************************/
@media screen and (max-width: 995px) {
    .triangle-l::before, .triangle-r::after{
        visibility: hidden;
    }
    .my-ads{
        margin: 0 auto;
        top: 0;

    }
    .site-footer {
    margin-top: 0;
}
}
@media screen and (max-width: 600px) {
    .hello-zilla {
        background-image: none;
    }
}
